CREATE TABLE credit(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    total NUMERIC(10, 2) NOT NULL
    )
;
CREATE TABLE user(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    email VARCHAR(180) NOT NULL UNIQUE,
    roles JSON NOT NULL,
    password VARCHAR(255) NOT NULL,
    nom VARCHAR(50) NOT NULL,
    prenom VARCHAR(50) NOT NULL,
    telephone VARCHAR(50) DEFAULT NULL,
    adresse VARCHAR(50) DEFAULT NULL,
    date_naissance DATE NOT NULL,
    photo VARCHAR(255) DEFAULT NULL,
    pseudo VARCHAR(50) DEFAULT NULL UNIQUE,
    api_token VARCHAR(255) NOT NULL,
    credit_id INT NOT NULL,
    FOREIGN KEY (credit_id) REFERENCES credit(id) ON DELETE CASCADE
    )
;
CREATE TABLE role_entity(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    libelle VARCHAR(50) NOT NULL UNIQUE
    )
    ;   
CREATE TABLE user_role_entity(
    user_id INT NOT NULL,
    role_entity_id INT NOT NULL ,
    PRIMARY KEY(user_id,role_entity_id),
    FOREIGN KEY (user_id) REFERENCES user(id) ON DELETE CASCADE,
    FOREIGN KEY (role_entity_id) REFERENCES role_entity(id) ON DELETE CASCADE
    ) 
;
CREATE TABLE operation(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    date_operation DATE NOT NULL,
    montant NUMERIC(5, 2) NOT NULL,
    user_id INT NOT NULL,
    FOREIGN KEY (user_id) REFERENCES user(id) ON DELETE CASCADE
    )
;
CREATE TABLE parametre(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    propriete VARCHAR(50) NOT NULL,
    valeur VARCHAR(50) NOT NULL
    )
;
CREATE TABLE user_parametre(
    user_id INT NOT NULL,
    parametre_id INT NOT NULL ,
    PRIMARY KEY(user_id,parametre_id),
    FOREIGN KEY (user_id) REFERENCES user(id) ON DELETE CASCADE,
    FOREIGN KEY (parametre_id) REFERENCES parametre(id) ON DELETE CASCADE
    ) 
    ;

CREATE TABLE marque(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    libelle VARCHAR(50) NOT NULL UNIQUE
)
; 
    CREATE TABLE voiture(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    modele VARCHAR(50) NOT NULL,
    immatriculation VARCHAR(50) NOT NULL UNIQUE,
    energie VARCHAR(50) NOT NULL,
    couleur VARCHAR(50) NOT NULL,
    date_premiere_immatriculation DATE NOT NULL,
    nb_places INT NOT NULL,
    marque_id INT NOT NULL,
    user_id INT NOT NULL,
    FOREIGN KEY (user_id) REFERENCES user(id) ON DELETE CASCADE,
    FOREIGN KEY (marque_id) REFERENCES marque(id) ON DELETE CASCADE   
    )
; 
CREATE TABLE covoiturage(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    date_depart DATE NOT NULL,
    heure_depart VARCHAR(50) NOT NULL,
    lieu_depart VARCHAR(50) NOT NULL,
    date_arrivee DATE NOT NULL,
    heure_arrivee VARCHAR(50) NOT NULL,
    lieu_arrivee VARCHAR(50) NOT NULL,
    statut VARCHAR(50) NOT NULL,
    nb_places INT NOT NULL,
    prix_personne NUMERIC(5,2) NOT NULL,
    voiture_id INT NOT NULL,
    FOREIGN KEY (voiture_id) REFERENCES voiture(id) ON DELETE CASCADE
)
;
CREATE TABLE reponse(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    reponse1 VARCHAR(50) NOT NULL,
    reponse2 VARCHAR(50) DEFAULT NULL,
    statut VARCHAR(50) DEFAULT NULL,
    user_id INT NOT NULL,
    covoiturage_id INT NOT NULL,
    FOREIGN KEY (user_id) REFERENCES user(id) ON DELETE CASCADE,
    FOREIGN KEY (covoiturage_id) REFERENCES covoiturage(id) ON DELETE CASCADE
    ) 
;
CREATE TABLE commentaire(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    commentaire VARCHAR(255) NOT NULL,
    user_id INT NOT NULL,
    covoiturage_id INT NOT NULL,
    FOREIGN KEY (user_id) REFERENCES user(id) ON DELETE CASCADE,
    FOREIGN KEY (covoiturage_id) REFERENCES covoiturage(id) ON DELETE CASCADE
    ) 
;
    CREATE TABLE user_covoiturage(
    user_id INT NOT NULL,
    covoiturage_id INT NOT NULL ,
    PRIMARY KEY(user_id, covoiturage_id),
    FOREIGN KEY (user_id) REFERENCES user(id) ON DELETE CASCADE,
    FOREIGN KEY (covoiturage_id) REFERENCES covoiturage(id) ON DELETE CASCADE
    )
    ;     
CREATE TABLE avis(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    commentaire VARCHAR(255) DEFAULT NULL,
    note INT NOT NULL,
    statut VARCHAR(50) NOT NULL,
    auteur_id INT NOT NULL,
    chauffeur_id INT NOT NULL,
    FOREIGN KEY (auteur_id) REFERENCES user(id) ON DELETE CASCADE,
    FOREIGN KEY (chauffeur_id) REFERENCES user(id) ON DELETE CASCADE
    )
    
    
    